@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}
@section showPublic{
    @await Component.InvokeAsync("MainNavigation", new { showAdmin = false })
}
@section head{

}

<div class="container">
    <div class="row" style="color:dimgray">
        <p class="tekstWelkomTitelPagina">@ViewData["Title"]</p>

    </div>

    <div class="row" style="color:dimgray">
        <!-- col 1 -->
        <div class='col-sm-12 col-md-1 col-lg-1'></div>
        <!-- col 2 -->
        <div class='col-sm-12 col-md-5 col-lg-5'>
            <section>
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <p class="tekstWelkomTitel">Login met lokaal account.</p>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email">E-mail</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password">Paswoord</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Log in</button>
                    </div>
                    <div class="form-group ">
                        <p>
                            <a class="tekstWelkomLink" asp-action="ForgotPassword">Paswoord vergeten?</a>
                        </p>
                        <p>
                            <a class="tekstWelkomLink" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Registreer als nieuwe gebruiker?</a>
                        </p>
                    </div>
                </form>
                <br /><br />
            </section>
        </div>
        <!-- col 3 -->
        <div class="'col-sm-12 col-md-5 col-lg-5">
            <section>
                <p class="tekstWelkomTitel">Gebruik een externe dienst om in te loggen.</p>

                <hr />
                @{
                    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                    if (loginProviders.Count == 0)
                    {
                        <div>
                            <p class="tekstWelkom">
                                Momenteel is dit nog niet mogelijk!
                                @*<a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                    for details on setting up this ASP.NET application to support logging in via external services.*@
                            </p>
                        </div>
                    }
                    else
                    {
                        <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in loginProviders)
                                    {
                                        <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
        <!-- col 4 -->
        <div class='col-sm-12 col-md-1 col-lg-1'></div>

    </div><!-- einde class row -->

</div>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
