@model IEnumerable<Autohandel.Domain.Entities.VoertuigCategorie>

@{
    ViewData["Title"] = "Index";
}
<h6 style="margin-top:20px;">
    <a asp-area="Admin" asp-controller="Home" asp-action="Voertuigen" style="margin-top:40px;">
        <i class="fas fa-arrow-circle-left"></i> Terug naar 'admin voertuigen beheer'
    </a>
</h6>

<h2 class="text-center text-xl-center text-uppercase text-success " style="margin-top:25px;">Beheer Categorieën van voertuigen</h2>


<p>
    <a asp-action="Create">Maak een nieuwe categorie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VoertuigCategorieNaam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VoertuigCategorieNaam)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VoertuigCatId">Wijzig</a> |
                    <a asp-action="Details" asp-route-id="@item.VoertuigCatId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.VoertuigCatId">Verwijder</a>
                </td>
            </tr>
        }
    </tbody>
</table>
