@model Autohandel.Domain.Entities.CategorieOnderdelen
@{
    ViewData["Title"] = "SubCatOnderdelen";
}

@section showPublic{
    @await Component.InvokeAsync("MainNavigation", new { showAdmin = false })
}
@section head{

}
<div class="container">

    <h6 style="margin-top:20px;">
        <a asp-area="" asp-controller="OnlineOnderdelen" asp-action="Index" style="margin-top:40px;">
            <i class="fas fa-arrow-circle-left"></i> Terug naar 'Overzicht van de Onderdelen'
        </a>
    </h6>

    <div class="row" style="color:dimgray">
        <p class="tekstWelkomTitelPagina ">@Model.OnderdelenCategorienaam</p>
    </div>



    <div class="row text-center ">

        @foreach (var item in Model.Children)
        {


            <div class="col-md-4 col-sm-6 mapImage">
                <a style="text-decoration:none;color:inherit" asp-controller="OnlineOnderdelen" asp-action="OnderdeelProduct" asp-area="" asp-route-id="@item.OnderdelenCategorieId">
                    <div class="card margin5pct">
                        <div class="card-body cardbodyVtgLijst  ">
                            <h5 class="card-title ">
                                @(item.OnderdelenCategorienaam)
                            </h5>
                        </div>
                        <img asp-append-version="true" src="~/images/onderdelen/@(item.OnderdelenCategorieId).jpg" alt="@(item.OnderdelenCategorienaam)" title="@(item.OnderdelenCategorienaam)"
                             class="card-img-bottom vtgWitdhLijst">

                    </div>


                </a>

            </div>
        }
    </div>
</div>
