@model Autohandel.Domain.Entities.Faktuur

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <h6 style="margin-top:20px;">
        <a asp-action="Index">
            <i class="fas fa-arrow-circle-left"></i> Terug naar 'beheer faktuur'
        </a>
    </h6>

    <h2 class="text-center text-xl-center text-uppercase text-success " style="margin-top:25px;">In detail</h2>

    <div>

        <hr />
        <div class="container">
            <div class="table-responsive ">
                <table class="table table-condensed table-bordered table-striped ">
                    <thead class="thead-dark">
                        <tr class="d-flex">
                            <th class="col-lg-4 col-md-4 col col-sm-4">Benaming</th>
                            <th class="col-lg-8 col-md-8 col-sm-8">Gegeven</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-flex">
                            <td style="font-weight:bold" class="col-lg-4 col-md-4 col-sm-4">
                                @Html.DisplayNameFor(model => model.FaktuurNr) : <br />
                                @Html.DisplayNameFor(model => model.Faktuurdatum) : <br />

                            </td>
                            <td class="col-lg-8 col-md-8 col-sm-8">
                                @Html.DisplayFor(model => model.FaktuurNr)<br />
                                @Html.DisplayFor(model => model.Faktuurdatum)<br />
                               
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <td style="font-weight:bold" class="col-lg-4 col-md-4 col-sm-4">
                                @Html.DisplayNameFor(model => model.Klant) : <br />
                            </td>
                            <td class="col-lg-8 col-md-8 col-sm-8">
                                @Html.DisplayFor(model => model.Klant.FullName)<br />
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <td style="font-weight:bold" class="col-lg-4 col-md-4 col-sm-4">
                                @Html.DisplayNameFor(model => model.OnderdelenProducten) : <br /><br /><br />
                                @Html.DisplayNameFor(model => model.Voertuig) : <br />


                            </td>
                            <td class="col-lg-8 col-md-8 col-sm-8">
                                @Html.DisplayFor(model => model.OnderdelenProducten.Artikelnummer)<br />
                                @Html.DisplayFor(model => model.OnderdelenProducten.Artikelnaam)<br />
                                @Html.DisplayFor(model => model.OnderdelenProducten.Prijs)<br />
                                @Html.DisplayFor(model => model.Voertuig.VoertuigArtikelNummer)<br />
                                @Html.DisplayFor(model => model.Voertuig.Merk.MerkNaam)<br />
                                @Html.DisplayFor(model => model.Voertuig.MerkType.MerkTypeNaam)<br />
                                @Html.DisplayFor(model => model.Voertuig.Prijs)<br />
                            </td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<br />