@model Autohandel.Domain.Entities.OnderdelenProducten

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <h6 style="margin-top:20px;">
        <a asp-action="Index">
            <i class="fas fa-arrow-circle-left"></i> Terug naar 'beheer dakkoffer'
        </a>
    </h6>

    <h2 class="text-center text-xl-center text-uppercase text-success " style="margin-top:25px;">In detail</h2>

    <div>

        <hr />
        <div class="container">
            <div class="table-responsive ">
                <table class="table table-condensed table-bordered table-striped ">
                    <thead class="thead-dark">
                        <tr class="d-flex">
                            <th class="col-lg-4 col-md-4 col col-sm-4">Benaming</th>
                            <th class="col-lg-8 col-md-8 col-sm-8">Gegeven</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-flex">
                            <td style="font-weight:bold" class="col-lg-4 col-md-4 col-sm-4">
                                @Html.DisplayNameFor(model => model.Artikelnummer) : <br />
                                @Html.DisplayNameFor(model => model.CategorieOnderdelen.OnderdelenCategorienaam) : <br />
                                @Html.DisplayNameFor(model => model.Artikelnaam) : <br />
                                @Html.DisplayNameFor(model => model.Prijs) : <br />
                                @Html.DisplayNameFor(model => model.Korting) : <br />
                                @Html.DisplayNameFor(model => model.Leverancier.LeverancierNaam) : <br />

                            </td>
                            <td class="col-lg-8 col-md-8 col-sm-8">
                                @Html.DisplayFor(model => model.Artikelnummer)<br />
                                @Html.DisplayFor(model => model.CategorieOnderdelen.OnderdelenCategorienaam)<br />
                                @Html.DisplayFor(model => model.Artikelnaam)<br />
                                @Html.DisplayFor(model => model.Prijs)<br />
                                @Html.DisplayFor(model => model.Korting)<br />
                                @Html.DisplayFor(model => model.Leverancier.LeverancierNaam)<br />
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <td style="font-weight:bold" class="col-lg-4 col-md-4 col-sm-4">
                                @Html.DisplayNameFor(model => model.Artikelomschrijving) : <br />
                            </td>
                            <td class="col-lg-8 col-md-8 col-sm-8">
                                @Html.Raw(Model.Artikelomschrijving)<br />
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <td style="font-weight:bold" class="col-lg-4 col-md-4 col-sm-4">
                                @Html.DisplayNameFor(model => model.Specificatie.Kleur) : <br />
                                @Html.DisplayNameFor(model => model.Specificatie.GarantieTermijn) : <br />
                                @Html.DisplayNameFor(model => model.Specificatie.Inhoud) in L : <br />
                                @Html.DisplayNameFor(model => model.Specificatie.Lengte) in cm : <br />
                                @Html.DisplayNameFor(model => model.Specificatie.Breedte) in cm : <br />
                                @Html.DisplayNameFor(model => model.Specificatie.Hoogte) in cm : <br />
                                @Html.DisplayNameFor(model => model.Specificatie.Opening) : <br />
                                @Html.DisplayNameFor(model => model.Specificatie.MaxBelading) : <br />
                                @Html.DisplayNameFor(model => model.Specificatie.Materie) : <br />
                                @Html.DisplayNameFor(model => model.Specificatie.Gewicht) in kg : <br />
                                @Html.DisplayNameFor(model => model.Specificatie.Vergrendeling) : <br />
                                @Html.DisplayNameFor(model => model.Specificatie.Montageset) : <br />
                                @Html.DisplayNameFor(model => model.Specificatie.CityCrash) : <br />

                            </td>
                            <td class="col-lg-8 col-md-8 col-sm-8">
                                @Html.DisplayFor(model => model.Specificatie.Kleur)<br />
                                @Html.DisplayFor(model => model.Specificatie.GarantieTermijn)<br />
                                @Html.DisplayFor(model => model.Specificatie.Inhoud)<br />
                                @Html.DisplayFor(model => model.Specificatie.Lengte)<br />
                                @Html.DisplayFor(model => model.Specificatie.Breedte)<br />
                                @Html.DisplayFor(model => model.Specificatie.Hoogte)<br />
                                @Html.DisplayFor(model => model.Specificatie.Opening)<br />
                                @Html.DisplayFor(model => model.Specificatie.MaxBelading)<br />
                                @Html.DisplayFor(model => model.Specificatie.Materie)<br />
                                @Html.DisplayFor(model => model.Specificatie.Gewicht)<br />
                                @Html.DisplayFor(model => model.Specificatie.Vergrendeling)<br />
                                @Html.DisplayFor(model => model.Specificatie.Montageset)<br />
                                @Html.DisplayFor(model => model.Specificatie.CityCrash)<br />
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <td style="font-weight:bold" class="col-lg-4 col-md-4 col-sm-4">
                                @Html.DisplayNameFor(model => model.FiguurURL) : <br />
                            </td>
                            <td class="col-lg-8 col-md-8 col-sm-8">
                                @Html.DisplayFor(model => model.FiguurURL)<br />
                                <img src="@Url.Content(Model.FiguurURL)" class="img-fluid" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<br />