@model IEnumerable<Autohandel.Domain.Entities.OnderdelenProducten>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h6 style="margin-top:20px;">
        <a asp-area="Admin" asp-controller="Home" asp-action="SubCategorieOnderdelen" asp-route-id="7" style="margin-top:40px;">
            <i class="fas fa-arrow-circle-left"></i> Terug naar 'admin bagage en transport beheer'
        </a>
    </h6>

    <h2 class="text-center text-xl-center text-uppercase text-success " style="margin-top:25px;">Beheer dakkoffer</h2>

    <p>
        <a asp-action="Create">Maak nieuwe dakkoffer aan</a>
    </p>
    <table class="table">
        <thead>
            <tr class="d-flex">
                <th class="col-1">
                    @Html.DisplayNameFor(model => model.Artikelnummer)<br />
                </th>
                <th class="col-2">
                    @Html.DisplayNameFor(model => model.Artikelnaam)<br />
                    @Html.DisplayNameFor(model => model.Prijs)<br />
                    @Html.DisplayNameFor(model => model.CategorieOnderdelen.OnderdelenCategorienaam)
                </th>

                <th class="col-3">
                    @Html.DisplayNameFor(model => model.Artikelomschrijving)<br />

                </th>
                <th class="col-2">
                    @Html.DisplayNameFor(model => model.Specificatie.Kleur)<br />
                    @Html.DisplayNameFor(model => model.Specificatie.GarantieTermijn)<br />
                    @Html.DisplayNameFor(model => model.Specificatie.Inhoud) in L<br />
                    @Html.DisplayNameFor(model => model.Specificatie.Lengte) in cm<br />
                    @Html.DisplayNameFor(model => model.Specificatie.Breedte) in cm<br />
                    @Html.DisplayNameFor(model => model.Specificatie.Hoogte) in cm<br />
                    @Html.DisplayNameFor(model => model.Specificatie.Opening)<br />
                    @Html.DisplayNameFor(model => model.Specificatie.MaxBelading)<br />
                    @Html.DisplayNameFor(model => model.Specificatie.Gewicht) in kg<br />
                    @Html.DisplayNameFor(model => model.Specificatie.Materie)<br />
                    @Html.DisplayNameFor(model => model.Specificatie.Vergrendeling)<br />
                    @Html.DisplayNameFor(model => model.Specificatie.Montageset)<br />
                    @Html.DisplayNameFor(model => model.Specificatie.CityCrash)<br />
                </th>

                <th class="col-3">
                    @Html.DisplayNameFor(model => model.FiguurURL)

                </th>

                <th class="col-1"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="d-flex">
                    <td class="col-1">
                        @Html.DisplayFor(modelItem => item.Artikelnummer)<br /><br />

                    </td>
                    <td class="col-2">
                        @Html.DisplayFor(modelItem => item.Artikelnaam)<br />
                        @Html.DisplayFor(modelItem => item.Prijs)<br />
                        @Html.DisplayFor(modelItem => item.CategorieOnderdelen.OnderdelenCategorienaam)
                    </td>

                    <td class="col-3">
                        @Html.Raw(item.Artikelomschrijving) <br />
                    </td>
                    <td class="col-2">
                        @Html.DisplayFor(modelItem => item.Specificatie.Kleur)<br />
                        @Html.DisplayFor(modelItem => item.Specificatie.GarantieTermijn)<br />
                        @Html.DisplayFor(modelItem => item.Specificatie.Inhoud)<br />
                        @Html.DisplayFor(modelItem => item.Specificatie.Lengte)<br />
                        @Html.DisplayFor(modelItem => item.Specificatie.Breedte)<br />
                        @Html.DisplayFor(modelItem => item.Specificatie.Hoogte)<br />
                        @Html.DisplayFor(modelItem => item.Specificatie.Opening)<br />
                        @Html.DisplayFor(modelItem => item.Specificatie.MaxBelading)<br />
                        @Html.DisplayFor(modelItem => item.Specificatie.Gewicht)<br />
                        @Html.DisplayFor(modelItem => item.Specificatie.Materie)<br />
                        @Html.DisplayFor(modelItem => item.Specificatie.Vergrendeling)<br />
                        @Html.DisplayFor(modelItem => item.Specificatie.Montageset)<br />
                        @Html.DisplayFor(modelItem => item.Specificatie.CityCrash)<br />

                    </td>
                    <td class="col-3" style="font-size:10px;">
                        @Html.DisplayFor(modelItem => item.FiguurURL)<br />
                        <img src="@Url.Content(item.FiguurURL)" class="img-fluid" />
                    </td>


                    <td class="col-1">
                        <a asp-action="Edit" asp-route-id="@item.Artikelnummer">Wijzig</a> |
                        <a asp-action="Details" asp-route-id="@item.Artikelnummer">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Artikelnummer">Verwijder</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
