@model Autohandel.web.ViewModels.DatadisplayViewModels.DatadisplayViewModel
@{
    ViewData["Title"] = "DatabaseData";

}
<div class="container">

    <h6 style="margin-top:20px;"><a asp-area="Admin" asp-controller="Home" asp-action="Index" style="margin-top:40px;"><i class="fas fa-arrow-circle-left"></i> Terug naar 'Admin Dashboard'</a></h6>

</div>
<div class="row text-center">
    <div class="col-lg-12">
        <h2 class="bg-primary ">Overzicht data van de Site </h2>
    </div>
</div>
<!--Entiteit VoertuigCategorieën-->
<div class="row">
    <div class="col-lg-12">
        <h3 class="bg-info populair text-center">Entiteit VoertuigCategorieën</h3>
    </div>
</div>
<div class="container">
    <div class="table-responsive ">
        <table id="EntiteitVoertuigCategorieën" class="table table-condensed table-bordered table-striped ">
            <thead class="thead-dark">
                <tr>
                    <th>VoertuigCatID</th>
                    <th>VoertuigCategorienaam</th>
                </tr>
            </thead>
            @foreach (var item in Model.voertuigCategorieen)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VoertuigCategorieNaam)
                    </td>
                    <td>
                        @Html.DisplayFor(ModelItem => item.VoertuigCatId)
                    </td>

                </tr>
            }

        </table>
    </div>
</div>
<!--Entiteit VoertuigMerken-->
<div class="row">
    <div class="col-lg-12">
        <h3 class="bg-info populair text-center">VoertuigMerken</h3>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="VoertuigMerken" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>MerkNaam</th>
                    <th>MerkId</th>
                </tr>
            </thead>
            @foreach (var item in Model.autoMerken)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MerkNaam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MerkId)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<!--Entiteit AutoModellen-->
<div class="row">
    <div class="col-lg-12">
        <h2 class="bg-info populair text-center">Entiteit AutoModellen</h2>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="EntiteitAutoModellen" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>MerktypeNaam</th>
                    <th>MerktypeId</th>
                    <th>Merk</th>
                </tr>
            </thead>
            @foreach (var item in Model.automodellen)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MerkTypeNaam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MerkTypeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VoertuigMerk.MerkNaam)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<!--Aanbod voertuigen-->
<div class="row">
    <div class="col-lg-12">
        <h3 class="bg-info populair text-center">Aanbod Voertuigen</h3>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="AanbodVoertuigen" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Voertuig</th>
                    <th>Specificaties</th>
                    <th>Afbeelding</th>
                </tr>
            </thead>
            @foreach (var item in Model.aanbodVoertuigen)
            {
                <tr>
                    <td width="300">
                        @Html.DisplayFor(modelItem => item.VoertuigCategorie.VoertuigCategorieNaam)<br />
                        @Html.DisplayFor(modelItem => item.Merk.MerkNaam)<br />
                        @Html.DisplayFor(modelItem => item.MerkType.MerkTypeNaam)<br />
                        @Html.DisplayFor(modelItem => item.VoertuigTitel)<br />
                        @Html.DisplayFor(modelItem => item.Koetswerk)<br />
                        Prijs: @Html.DisplayFor(modelItem => item.Prijs) €
                    </td>
                    <td width="auto">
                        Bouwjaar: @Html.DisplayFor(modelItem => item.Bouwjaar) <br />
                        Registratie: @Html.DisplayFor(modelItem => item.Registratie)<br />
                        Kilometerstand: @Html.DisplayFor(modelItem => item.Kilometerstand)<br />
                        Brandstof: @Html.DisplayFor(modelItem => item.Brandstof)<br />
                        Versnelling:  @Html.DisplayFor(modelItem => item.Versnelling)<br />
                        Vermogen:  @Html.DisplayFor(modelItem => item.Vermogen)<br />
                        Garantietijd:  @Html.DisplayFor(modelItem => item.GarantieTijd)<br />
                        CC:  @Html.DisplayFor(modelItem => item.CC) m3 <br />
                        CO2:  @Html.DisplayFor(modelItem => item.COTwee)<br />
                        Deuren:  @Html.DisplayFor(modelItem => item.Deuren)<br />
                        Zitplaatsen:  @Html.DisplayFor(modelItem => item.Zitplaatsen)<br />
                        Binnenbekleding:  @Html.DisplayFor(modelItem => item.Binnenbekleding)<br />
                        Binnenkleur:  @Html.DisplayFor(modelItem => item.Binnenkleur)
                    </td>
                    <td width="100">
                        <img src="@Url.Content(item.FiguurURL)" width="250" />
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<!--Entiteit CategorieOnderdelen-->
<div class="row">
    <div class="col-lg-12">
        <h3 class="bg-info populair text-center">CategorieOnderdelen</h3>
    </div>
</div>
<div class="container">
    <div class="table-responsive ">
        <table id="EntiteitVoertuigCategorieën" class="table table-condensed table-bordered table-striped ">
            <thead class="thead-dark">
                <tr>
                    <th>CategorieOnderdeelId</th>
                    <th>CategorieOnderdeelNaam</th>
                    <th>Hoofdcategorie</th>
                </tr>
            </thead>
            @foreach (var item in Model.categorieOnderdelen)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(ModelItem => item.OnderdelenCategorieId)
                    </td>
                    <td>
                        @Html.DisplayFor(ModelItem => item.OnderdelenCategorienaam)
                    </td>
                    <td>
                        @Html.DisplayFor(ModelItem => item.Parent.OnderdelenCategorienaam)
                    </td>

                </tr>
            }

        </table>
    </div>
</div>
<!--Aanbod winterbanden-->
<div class="row">
    <div class="col-lg-12">
        <h3 class="bg-info populair text-center">Aanbod Winterbanden</h3>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="AanbodVoertuigen" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Band</th>
                    <th>Beschrijving</th>
                    <th>Afbeelding</th>
                </tr>
            </thead>
            @foreach (var item in Model.onderdelenProducten.Where(o => o.CategorieOnderdelen.OnderdelenCategorieId == 1))
            {
                <tr>
                    <td width="300">
                        @Html.DisplayFor(modelItem => item.Artikelnaam)<br />
                        Prijs: @Html.DisplayFor(modelItem => item.Prijs) €<br />
                        Type: @Html.DisplayFor(modelItem => item.Specificatie.Type)<br />
                        Draagvermogen: @Html.DisplayFor(modelItem => item.Specificatie.Draagvermogen)<br />
                        Snelheidindex: @Html.DisplayFor(modelItem => item.Specificatie.SnelheidIndex)<br />
                        Rolgeluid: @Html.DisplayFor(modelItem => item.Specificatie.Rolgeluid)
                    </td>
                    <td width="auto">
                        @Html.DisplayFor(modelItem => item.Artikelomschrijving)
                    </td>
                    <td width="100">

                        <img src="@Url.Content(item.FiguurURL)" alt=@Html.DisplayFor(modelItem => item.FiguurURL) width="250" />

                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<!--Aanbod wieldoppen-->
<div class="row">
    <div class="col-lg-12">
        <h3 class="bg-info populair text-center">Aanbod Wieldoppen</h3>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="AanbodVoertuigen" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Wieldop</th>
                    <th>Beschrijving</th>
                    <th>Afbeelding</th>
                </tr>
            </thead>
            @foreach (var item in Model.onderdelenProducten.Where(o => o.CategorieOnderdelen.OnderdelenCategorieId == 2))
            {
                <tr>
                    <td width="300">
                        @Html.DisplayFor(modelItem => item.Artikelnaam)<br />
                        Prijs: @Html.DisplayFor(modelItem => item.Prijs) €<br />
                        Formaat: @Html.DisplayFor(modelItem => item.Specificatie.Formaat)<br />
                        Kleur: @Html.DisplayFor(modelItem => item.Specificatie.Kleur)<br />
                        Materie: @Html.DisplayFor(modelItem => item.Specificatie.Materie)<br />
                        Verpakking: @Html.DisplayFor(modelItem => item.Specificatie.Montageset)
                    </td>
                    <td width="auto">
                        @Html.DisplayFor(modelItem => item.Artikelomschrijving)
                    </td>
                    <td width="100">

                        <img src="@Url.Content(item.FiguurURL)" alt=@Html.DisplayFor(modelItem => item.FiguurURL) width="250" />

                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<!--Aanbod privacy shades-->
<div class="row">
    <div class="col-lg-12">
        <h3 class="bg-info populair text-center">Aanbod Privacy Shades</h3>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="AanbodVoertuigen" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Shade</th>
                    <th>Beschrijving</th>
                    <th>Afbeelding</th>
                </tr>
            </thead>
            @foreach (var item in Model.onderdelenProducten.Where(o => o.CategorieOnderdelen.OnderdelenCategorieId == 5))
            {
                <tr>
                    <td width="300">
                        @Html.DisplayFor(modelItem => item.Artikelnaam)<br />
                        Prijs: @Html.DisplayFor(modelItem => item.Prijs) €<br />
                    </td>
                    <td width="auto">
                        @Html.Raw(item.Artikelomschrijving)

                    </td>
                    <td width="100">

                        <img src="@Url.Content(item.FiguurURL)" alt=@Html.DisplayFor(modelItem => item.FiguurURL) width="250" />

                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<!--Aanbod trekhaken-->
<div class="row">
    <div class="col-lg-12">
        <h3 class="bg-info populair text-center">Aanbod Onderdeel trekhaken</h3>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="AanbodVoertuigen" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Vaste trekhaak</th>
                    <th>Specificaties</th>
                    <th>Afbeelding</th>
                </tr>
            </thead>
            @foreach (var item in Model.onderdelenProducten.Where(o => o.CategorieOnderdelen.OnderdelenCategorieId == 8))
            {
                <tr>
                    <td width="300">
                        @Html.DisplayFor(modelItem => item.Artikelnaam)<br />
                        Prijs: @Html.DisplayFor(modelItem => item.Prijs) €<br />
                    </td>
                    <td width="auto">
                        Type: @Html.DisplayFor(modelItem => item.Specificatie.Type)<br />
                        MaxVertikaleLast: @Html.DisplayFor(modelItem => item.Specificatie.MaxVertikaleLast)<br />
                        Goedkeuringsnummer: @Html.DisplayFor(modelItem => item.Specificatie.Goedkeuring)<br />
                        Aanhangwagengewicht:@Html.DisplayFor(modelItem => item.Specificatie.Aanhangwagengewicht) kg<br />
                        Montageduur: @Html.DisplayFor(modelItem => item.Specificatie.Montageset)<br />
                    </td>
                    <td width="100">

                        <img src="@Url.Content(item.FiguurURL)" alt=@Html.DisplayFor(modelItem => item.FiguurURL) width="250" />

                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="AanbodVoertuigen" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Afneembare trekhaak</th>
                    <th>Specificaties</th>
                    <th>Afbeelding</th>
                </tr>
            </thead>
            @foreach (var item in Model.onderdelenProducten.Where(o => o.CategorieOnderdelen.OnderdelenCategorieId == 22))
            {
                <tr>
                    <td width="300">
                        @Html.DisplayFor(modelItem => item.Artikelnaam)<br />
                        Prijs: @Html.DisplayFor(modelItem => item.Prijs) €<br />
                    </td>
                    <td width="auto">
                        Type: @Html.DisplayFor(modelItem => item.Specificatie.Type)<br />
                        MaxVertikaleLast: @Html.DisplayFor(modelItem => item.Specificatie.MaxVertikaleLast)<br />
                        Goedkeuringsnummer: @Html.DisplayFor(modelItem => item.Specificatie.Goedkeuring)<br />
                        Aanhangwagengewicht:@Html.DisplayFor(modelItem => item.Specificatie.Aanhangwagengewicht) kg<br />

                    </td>
                    <td width="100">

                        <img src="@Url.Content(item.FiguurURL)" alt=@Html.DisplayFor(modelItem => item.FiguurURL) width="250" />

                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="AanbodVoertuigen" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Kabelset trekhaak</th>
                    <th>Beschrijving</th>
                    <th>Afbeelding</th>
                </tr>
            </thead>
            @foreach (var item in Model.onderdelenProducten.Where(o => o.CategorieOnderdelen.OnderdelenCategorieId == 21))
            {
                <tr>
                    <td width="300">
                        @Html.DisplayFor(modelItem => item.Artikelnaam)<br />
                        Prijs: @Html.DisplayFor(modelItem => item.Prijs) €<br />
                    </td>
                    <td width="auto">
                        @Html.Raw(item.Artikelomschrijving)
                    </td>
                    <td width="100">

                        <img src="@Url.Content(item.FiguurURL)" alt=@Html.DisplayFor(modelItem => item.FiguurURL) width="250" />

                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<!--Aanbod bagage en transport-->
<div class="row">
    <div class="col-lg-12">
        <h3 class="bg-info populair text-center">Aanbod Onderdeel Bagage en Transport</h3>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="AanbodVoertuigen" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Dakdrager</th>
                    <th>Specificaties</th>
                    <th>Afbeelding</th>
                </tr>
            </thead>
            @foreach (var item in Model.onderdelenProducten.Where(o => o.CategorieOnderdelen.OnderdelenCategorieId == 9))
            {
                <tr>
                    <td width="300">
                        @Html.DisplayFor(modelItem => item.Artikelnaam)<br />
                        Prijs: @Html.DisplayFor(modelItem => item.Prijs) €<br /><br />
                        @Html.Raw(item.Artikelomschrijving)
                    </td>
                    <td width="auto">
                        Materiaal: @Html.DisplayFor(modelItem => item.Specificatie.Materie)<br />
                        Kleur: @Html.DisplayFor(modelItem => item.Specificatie.Kleur)<br />
                        Goedkeuring: @Html.DisplayFor(modelItem => item.Specificatie.Goedkeuring)<br />
                        Garantietermijn:@Html.DisplayFor(modelItem => item.Specificatie.GarantieTermijn) kg<br />
                        Breedte: @Html.DisplayFor(modelItem => item.Specificatie.Breedte) cm<br />
                        Hoogte: @Html.DisplayFor(modelItem => item.Specificatie.Hoogte) cm<br />
                        Vergrendeling: @Html.DisplayFor(modelItem => item.Specificatie.Vergrendeling)<br />
                    </td>
                    <td width="100">

                        <img src="@Url.Content(item.FiguurURL)" alt=@Html.DisplayFor(modelItem => item.FiguurURL) width="250" />

                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="AanbodVoertuigen" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Dakkoffer</th>
                    <th>Specificaties</th>
                    <th>Afbeelding</th>
                </tr>
            </thead>
            @foreach (var item in Model.onderdelenProducten.Where(o => o.CategorieOnderdelen.OnderdelenCategorieId == 15))
            {
                <tr>
                    <td width="300">
                        @Html.DisplayFor(modelItem => item.Artikelnaam)<br />
                        Prijs: @Html.DisplayFor(modelItem => item.Prijs) €<br /><br />
                        @Html.Raw(item.Artikelomschrijving)
                    </td>
                    <td width="auto">
                        Materiaal: @Html.DisplayFor(modelItem => item.Specificatie.Materie)<br />
                        Kleur: @Html.DisplayFor(modelItem => item.Specificatie.Kleur)<br />
                        Inhoud: @Html.DisplayFor(modelItem => item.Specificatie.Inhoud) liter<br />
                        Goedkeuring: @Html.DisplayFor(modelItem => item.Specificatie.Goedkeuring)<br />
                        Garantietermijn:@Html.DisplayFor(modelItem => item.Specificatie.GarantieTermijn) kg<br />
                        Opening: @Html.DisplayFor(modelItem => item.Specificatie.Opening)<br />
                        Lengte: @Html.DisplayFor(modelItem => item.Specificatie.Lengte) cm<br />
                        Breedte: @Html.DisplayFor(modelItem => item.Specificatie.Breedte) cm<br />
                        Hoogte: @Html.DisplayFor(modelItem => item.Specificatie.Hoogte) cm<br />
                        Max. Belading: @Html.DisplayFor(modelItem => item.Specificatie.MaxBelading)<br />
                        Gewicht: @Html.DisplayFor(modelItem => item.Specificatie.Gewicht)<br />
                        Vergrendeling: @Html.DisplayFor(modelItem => item.Specificatie.Vergrendeling)<br />
                        Montageset: @Html.DisplayFor(modelItem => item.Specificatie.Montageset)<br />
                        CityCrash: @Html.DisplayFor(modelItem => item.Specificatie.CityCrash)<br />

                    </td>
                    <td width="100">

                        <img src="@Url.Content(item.FiguurURL)" alt=@Html.DisplayFor(modelItem => item.FiguurURL) width="250" />

                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="AanbodVoertuigen" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Fietsendrager</th>
                    <th>Specificaties</th>
                    <th>Afbeelding</th>
                </tr>
            </thead>
            @foreach (var item in Model.onderdelenProducten.Where(o => o.CategorieOnderdelen.OnderdelenCategorieId == 24))
            {
                <tr>
                    <td width="300">
                        @Html.DisplayFor(modelItem => item.Artikelnaam)<br />
                        Prijs: @Html.DisplayFor(modelItem => item.Prijs) €<br /><br />
                        @Html.Raw(item.Artikelomschrijving)
                    </td>
                    <td width="auto">
                        Aantal fietsen: @Html.DisplayFor(modelItem => item.Specificatie.AantalFietsen)<br />
                        Fietstypes: @Html.DisplayFor(modelItem => item.Specificatie.Fietstypes)<br />
                        Vergrendeling: @Html.DisplayFor(modelItem => item.Specificatie.Vergrendeling)<br />
                        Max. Belading: @Html.DisplayFor(modelItem => item.Specificatie.MaxBelading) kg<br />
                        Stekkeraansluiting: @Html.DisplayFor(modelItem => item.Specificatie.StekkerAansluiting)<br />
                        Mistlicht: @Html.DisplayFor(modelItem => item.Specificatie.Mistlicht)<br />
                        Kantelfunctie: @Html.DisplayFor(modelItem => item.Specificatie.Kantelfunctie)<br />
                        Garantietermijn:@Html.DisplayFor(modelItem => item.Specificatie.GarantieTermijn) <br />
                        Inklapbaar: @Html.DisplayFor(modelItem => item.Specificatie.Inklapbaar)<br />
                        Montage: @Html.DisplayFor(modelItem => item.Specificatie.Montageset)<br />
                        Materiaal: @Html.DisplayFor(modelItem => item.Specificatie.Materie)<br />
                        Afmetingen: @Html.DisplayFor(modelItem => item.Specificatie.Lengte) x @Html.DisplayFor(modelItem => item.Specificatie.Breedte) x @Html.DisplayFor(modelItem => item.Specificatie.Hoogte)<br />
                        Gewicht: @Html.DisplayFor(modelItem => item.Specificatie.Gewicht) kg<br />
                        Afstand tussen fietsen: @Html.DisplayFor(modelItem => item.Specificatie.Dikte) cm<br />
                    </td>
                    <td width="100">

                        <img src="@Url.Content(item.FiguurURL)" alt=@Html.DisplayFor(modelItem => item.FiguurURL) width="250" />

                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<!--Aanbod tapijten-->
<div class="row">
    <div class="col-lg-12">
        <h3 class="bg-info populair text-center">Aanbod Onderdeel tapijten</h3>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="AanbodVoertuigen" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Koffermat</th>
                    <th>Beschrijving</th>
                    <th>Afbeelding</th>
                </tr>
            </thead>
            @foreach (var item in Model.onderdelenProducten.Where(o => o.CategorieOnderdelen.OnderdelenCategorieId == 20))
            {
                <tr>
                    <td width="300">
                        @Html.DisplayFor(modelItem => item.Artikelnaam)<br />
                        Prijs: @Html.DisplayFor(modelItem => item.Prijs) €<br /><br />

                    </td>
                    <td width="auto">
                        @Html.Raw(item.Artikelomschrijving)
                    </td>
                    <td width="100">

                        <img src="@Url.Content(item.FiguurURL)" alt=@Html.DisplayFor(modelItem => item.FiguurURL) width="250" />

                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="AanbodVoertuigen" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Tapijt rubber</th>
                    <th>Beschrijving</th>
                    <th>Afbeelding</th>
                </tr>
            </thead>
            @foreach (var item in Model.onderdelenProducten.Where(o => o.CategorieOnderdelen.OnderdelenCategorieId == 18))
            {
                <tr>
                    <td width="300">
                        @Html.DisplayFor(modelItem => item.Artikelnaam)<br />
                        Prijs: @Html.DisplayFor(modelItem => item.Prijs) €<br /><br />

                    </td>
                    <td width="auto">
                        @Html.Raw(item.Artikelomschrijving)
                    </td>
                    <td width="100">

                        <img src="@Url.Content(item.FiguurURL)" alt=@Html.DisplayFor(modelItem => item.FiguurURL) width="250" />

                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="AanbodVoertuigen" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Tapijt stof</th>
                    <th>Beschrijving</th>
                    <th>Afbeelding</th>
                </tr>
            </thead>
            @foreach (var item in Model.onderdelenProducten.Where(o => o.CategorieOnderdelen.OnderdelenCategorieId == 19))
            {
                <tr>
                    <td width="300">
                        @Html.DisplayFor(modelItem => item.Artikelnaam)<br />
                        Prijs: @Html.DisplayFor(modelItem => item.Prijs) €<br /><br />

                    </td>
                    <td width="auto">
                        @Html.Raw(item.Artikelomschrijving)
                    </td>
                    <td width="100">

                        <img src="@Url.Content(item.FiguurURL)" alt=@Html.DisplayFor(modelItem => item.FiguurURL) width="250" />

                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="AanbodVoertuigen" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Tapijt clips</th>
                    <th>Beschrijving</th>
                    <th>Afbeelding</th>
                </tr>
            </thead>
            @foreach (var item in Model.onderdelenProducten.Where(o => o.CategorieOnderdelen.OnderdelenCategorieId == 17))
            {
                <tr>
                    <td width="300">
                        @Html.DisplayFor(modelItem => item.Artikelnaam)<br />
                        Prijs: @Html.DisplayFor(modelItem => item.Prijs) €<br /><br />

                    </td>
                    <td width="auto">
                        @Html.Raw(item.Artikelomschrijving)
                    </td>
                    <td width="100">

                        <img src="@Url.Content(item.FiguurURL)" alt=@Html.DisplayFor(modelItem => item.FiguurURL) width="250" />

                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<!--Aanbod filters en vloeistoffen-->
<div class="row">
    <div class="col-lg-12">
        <h3 class="bg-info populair text-center">Aanbod Onderdeel filters en vloeistoffen</h3>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="AanbodVoertuigen" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Brandstoffilters</th>
                    <th>Specificatie</th>
                    <th>Afbeelding</th>
                </tr>
            </thead>
            @foreach (var item in Model.onderdelenProducten.Where(o => o.CategorieOnderdelen.OnderdelenCategorieId == 23))
            {
                <tr>
                    <td width="300">
                        @Html.DisplayFor(modelItem => item.Artikelnaam)<br />
                        Prijs: @Html.DisplayFor(modelItem => item.Prijs) €<br /><br />

                    </td>
                    <td width="auto">
                        Dikte: @Html.DisplayFor(modelItem => item.Specificatie.Dikte) mm<br />
                        Gewicht: @Html.DisplayFor(modelItem => item.Specificatie.Gewicht) gr<br />
                        Binnendiameter: @Html.DisplayFor(modelItem => item.Specificatie.Binnendiameter) mm<br />
                        Buitendiameter: @Html.DisplayFor(modelItem => item.Specificatie.Buitendiameter) mm<br />
                        Hoogte: @Html.DisplayFor(modelItem => item.Specificatie.Hoogte) mm<br />
                        Schroefdraad uitgang: @Html.DisplayFor(modelItem => item.Specificatie.Schroefdraad)<br />
                        Filter Type: @Html.DisplayFor(modelItem => item.Specificatie.Type)<br />
                        Materiaal: @Html.DisplayFor(modelItem => item.Specificatie.Materie)<br />
                    </td>
                    <td width="100">

                        <img src="@Url.Content(item.FiguurURL)" alt=@Html.DisplayFor(modelItem => item.FiguurURL) width="250" />

                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="AanbodVoertuigen" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Interieurluchtfilters</th>
                    <th>Specificatie</th>
                    <th>Afbeelding</th>
                </tr>
            </thead>
            @foreach (var item in Model.onderdelenProducten.Where(o => o.CategorieOnderdelen.OnderdelenCategorieId == 16))
            {
                <tr>
                    <td width="300">
                        @Html.DisplayFor(modelItem => item.Artikelnaam)<br />
                        Prijs: @Html.DisplayFor(modelItem => item.Prijs) €<br /><br />

                    </td>
                    <td width="auto">
                        @*@Html.Raw(item.Artikelomschrijving)*@
                        Filter Type: @Html.DisplayFor(modelItem => item.Specificatie.Type)<br />
                        Dikte: @Html.DisplayFor(modelItem => item.Specificatie.Dikte) mm<br />
                        Lengte: @Html.DisplayFor(modelItem => item.Specificatie.Lengte) mm<br />
                        Gewicht: @Html.DisplayFor(modelItem => item.Specificatie.Gewicht) gr<br />
                        Breedte: @Html.DisplayFor(modelItem => item.Specificatie.Breedte) mm<br />

                    </td>
                    <td width="100">

                        <img src="@Url.Content(item.FiguurURL)" alt=@Html.DisplayFor(modelItem => item.FiguurURL) width="250" />

                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="AanbodVoertuigen" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Koelvloeistof</th>
                    <th>Beschrijving</th>
                    <th>Afbeelding</th>
                </tr>
            </thead>
            @foreach (var item in Model.onderdelenProducten.Where(o => o.CategorieOnderdelen.OnderdelenCategorieId == 14))
            {
                <tr>
                    <td width="300">
                        @Html.DisplayFor(modelItem => item.Artikelnaam)<br />
                        Prijs: @Html.DisplayFor(modelItem => item.Prijs) €<br /><br />
                        Inhoud: @Html.DisplayFor(modelItem => item.Specificatie.Inhoud) liter<br />
                        Mengbaar: @Html.DisplayFor(modelItem => item.Specificatie.Mengbaar) mm<br />
                    </td>
                    <td width="auto">
                        @Html.Raw(item.Artikelomschrijving)
                    </td>
                    <td width="100">

                        <img src="@Url.Content(item.FiguurURL)" alt=@Html.DisplayFor(modelItem => item.FiguurURL) width="250" />

                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="AanbodVoertuigen" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Luchtfilter</th>
                    <th>Specificatie</th>
                    <th>Afbeelding</th>
                </tr>
            </thead>
            @foreach (var item in Model.onderdelenProducten.Where(o => o.CategorieOnderdelen.OnderdelenCategorieId == 13))
            {
                <tr>
                    <td width="300">
                        @Html.DisplayFor(modelItem => item.Artikelnaam)<br />
                        Prijs: @Html.DisplayFor(modelItem => item.Prijs) €<br /><br />

                    </td>
                    <td width="auto">
                        @*@Html.Raw(item.Artikelomschrijving)*@
                        Filter type: @Html.DisplayFor(modelItem => item.Specificatie.Type)<br />
                        Lengte: @Html.DisplayFor(modelItem => item.Specificatie.Lengte) mm<br />
                        Hoogte: @Html.DisplayFor(modelItem => item.Specificatie.Hoogte) mm<br />
                        Breedte: @Html.DisplayFor(modelItem => item.Specificatie.Breedte) mm<br />
                        Materiaal: @Html.DisplayFor(modelItem => item.Specificatie.Materie)<br />
                        Dikte: @Html.DisplayFor(modelItem => item.Specificatie.Dikte) mm<br />
                        Buitendiameter: @Html.DisplayFor(modelItem => item.Specificatie.Buitendiameter) mm<br />
                        Gewicht: @Html.DisplayFor(modelItem => item.Specificatie.Gewicht) gr<br />
                        Binnendiameter: @Html.DisplayFor(modelItem => item.Specificatie.Binnendiameter) mm<br />

                    </td>
                    <td width="100">

                        <img src="@Url.Content(item.FiguurURL)" alt=@Html.DisplayFor(modelItem => item.FiguurURL) width="250" />

                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="AanbodVoertuigen" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Motorolie</th>
                    <th>Beschrijving</th>
                    <th>Afbeelding</th>
                </tr>
            </thead>
            @foreach (var item in Model.onderdelenProducten.Where(o => o.CategorieOnderdelen.OnderdelenCategorieId == 12))
            {
                <tr>
                    <td width="300">
                        @Html.DisplayFor(modelItem => item.Artikelnaam)<br />
                        Prijs: @Html.DisplayFor(modelItem => item.Prijs) €<br /><br />
                        Filter type: @Html.DisplayFor(modelItem => item.Specificatie.Type)<br />
                        Inhoud: @Html.DisplayFor(modelItem => item.Specificatie.Inhoud) liter<br />

                    </td>
                    <td width="auto">
                        @Html.Raw(item.Artikelomschrijving)
                    </td>
                    <td width="100">

                        <img src="@Url.Content(item.FiguurURL)" alt=@Html.DisplayFor(modelItem => item.FiguurURL) width="250" />

                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="AanbodVoertuigen" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Remvloeistof</th>
                    <th>Beschrijving</th>
                    <th>Afbeelding</th>
                </tr>
            </thead>
            @foreach (var item in Model.onderdelenProducten.Where(o => o.CategorieOnderdelen.OnderdelenCategorieId == 11))
            {
                <tr>
                    <td width="300">
                        @Html.DisplayFor(modelItem => item.Artikelnaam)<br />
                        Prijs: @Html.DisplayFor(modelItem => item.Prijs) €<br /><br />
                        Type: @Html.DisplayFor(modelItem => item.Specificatie.Type)<br />
                        Inhoud: @Html.DisplayFor(modelItem => item.Specificatie.Inhoud) liter<br />
                        Goedkeuring: @Html.DisplayFor(modelItem => item.Specificatie.Goedkeuring)<br />

                    </td>
                    <td width="auto">
                        @Html.Raw(item.Artikelomschrijving)
                    </td>
                    <td width="100">

                        <img src="@Url.Content(item.FiguurURL)" alt=@Html.DisplayFor(modelItem => item.FiguurURL) width="250" />

                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="AanbodVoertuigen" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Ruitensproeier</th>
                    <th>Beschrijving</th>
                    <th>Afbeelding</th>
                </tr>
            </thead>
            @foreach (var item in Model.onderdelenProducten.Where(o => o.CategorieOnderdelen.OnderdelenCategorieId == 10))
            {
                <tr>
                    <td width="300">
                        @Html.DisplayFor(modelItem => item.Artikelnaam)<br />
                        Prijs: @Html.DisplayFor(modelItem => item.Prijs) €<br /><br />
                        Type: @Html.DisplayFor(modelItem => item.Specificatie.Type)<br />
                        Inhoud: @Html.DisplayFor(modelItem => item.Specificatie.Inhoud) liter<br />
                        Geur: @Html.DisplayFor(modelItem => item.Specificatie.Geur)<br />
                        Minimale temperatuur: @Html.DisplayFor(modelItem => item.Specificatie.MinimaleTemperatuur)<br />

                    </td>
                    <td width="auto">
                        @Html.Raw(item.Artikelomschrijving)
                    </td>
                    <td width="100">

                        <img src="@Url.Content(item.FiguurURL)" alt=@Html.DisplayFor(modelItem => item.FiguurURL) width="250" />

                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<!--Klanten-->
<div class="row">
    <div class="col-lg-12">
        <h3 class="bg-info populair text-center">Leveranciers</h3>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="AanbodVoertuigen" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>LeverancierId</th>
                    <th>Leverancierdatum<br />LeverancierNam</th>
                    <th>FamilieNaam<br />Voornaam</th>
                    <th>Postcode<br />Gemeente<br />Adres</th>
                    <th>Telefoonnummer<br />Email</th>
                </tr>
            </thead>
            @foreach (var item in Model.leveranciers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeverancierID)<br />

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeverancierDatum)<br />
                        @Html.DisplayFor(modelItem => item.LeverancierNaam)<br />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naam)<br />
                        @Html.DisplayFor(modelItem => item.Voornaam)<br />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Postcode)<br />
                        @Html.DisplayFor(modelItem => item.Gemeente)<br />
                        @Html.DisplayFor(modelItem => item.Adres)<br />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefoonnummer)<br />
                        @Html.DisplayFor(modelItem => item.Email)<br />
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<!--Klanten-->
<div class="row">
    <div class="col-lg-12">
        <h3 class="bg-info populair text-center">Klanten</h3>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="AanbodVoertuigen" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>KlantId</th>
                    <th>Klantdatum<br />KlantNam</th>
                    <th>FamilieNaam<br />Voornaam</th>
                    <th>Postcode<br />Gemeente<br />Adres</th>
                    <th>Telefoonnummer<br />Email</th>
                </tr>
            </thead>
            @foreach (var item in Model.klanten)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.KlantId)<br />

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Klantdatum)<br />
                        @Html.DisplayFor(modelItem => item.KlantNaam)<br />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naam)<br />
                        @Html.DisplayFor(modelItem => item.Voornaam)<br />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Postcode)<br />
                        @Html.DisplayFor(modelItem => item.Gemeente)<br />
                        @Html.DisplayFor(modelItem => item.Adres)<br />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefoonnummer)<br />
                        @Html.DisplayFor(modelItem => item.Email)<br />
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<!--Fakturen-->
<div class="row">
    <div class="col-lg-12">
        <h3 class="bg-info populair text-center">Fakturen</h3>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="AanbodVoertuigen" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>FaktuurNr</th>
                    <th>FaktuurDatum</th>
                    <th>Klant</th>
                    <th>Voertuig</th>
                    <th>Onderdeel</th>
                </tr>
            </thead>
            @foreach (var item in Model.fakturenlijst)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FaktuurNr)<br />

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FaktuurNr)<br />

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Klant.KlantNaam)<br />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Voertuig.Merk.MerkId)<br />
                        @Html.DisplayFor(modelItem => item.Voertuig.Merk.MerkNaam)<br />
                        @Html.DisplayFor(modelItem => item.Voertuig.MerkType.MerkTypeNaam)<br />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OnderdelenProducten.Artikelnummer)<br />
                        @Html.DisplayFor(modelItem => item.OnderdelenProducten.Artikelnaam)<br />
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<!--Onderhoud-->
<div class="row">
    <div class="col-lg-12">
        <h3 class="bg-info populair text-center">Onderhoudstabel</h3>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="AanbodVoertuigen" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>FaktuurNr</th>
                    <th>FaktuurDatum</th>
                    <th>Klant</th>
                    <th>Voertuig</th>
                    <th>Onderdeel</th>
                </tr>
            </thead>
            @foreach (var item in Model.onderhoudslijst)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OnderhoudId)<br />

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Datum)<br />

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kilometerstand)<br />
                        @Html.DisplayFor(modelItem => item.Info)<br />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Voertuig.Merk.MerkId)<br />
                        @Html.DisplayFor(modelItem => item.Voertuig.Merk.MerkNaam)<br />
                        @Html.DisplayFor(modelItem => item.Voertuig.MerkType.MerkTypeNaam)<br />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Klant.KlantNaam)<br />
                        @Html.DisplayFor(modelItem => item.Klant.Gemeente)<br />
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<!--Garantie-->
<div class="row">
    <div class="col-lg-12">
        <h3 class="bg-info populair text-center">Garantietabel</h3>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="AanbodVoertuigen" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Faktuur</th>
                    <th>Vervaldatum</th>
                    <th>Klant</th>
                    <th>Voertuig</th>
                    <th>Onderdeel</th>
                </tr>
            </thead>
            @foreach (var item in Model.garantielijst)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Faktuur.FaktuurNr)<br />
                        @Html.DisplayFor(modelItem => item.Faktuur.Faktuurdatum)<br />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vervaldatum)<br />

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Faktuur.Klant.KlantNaam)<br />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Faktuur.Voertuig.Merk.MerkId)<br />
                        @Html.DisplayFor(modelItem => item.Faktuur.Voertuig.Merk.MerkNaam)<br />
                        @Html.DisplayFor(modelItem => item.Faktuur.Voertuig.MerkType.MerkTypeNaam)<br />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Faktuur.OnderdelenProducten.Artikelnummer)<br />
                        @Html.DisplayFor(modelItem => item.Faktuur.OnderdelenProducten.Artikelnaam)<br />
                    </td>
                </tr>
            }

        </table>
    </div>
</div>





