@model Autohandel.web.Models.DatadisplayViewModels.DatadisplayViewModel
@{
    ViewData["Title"] = "DatabaseData";
}


<div class="row text-center">
    <div class="col-lg-12">
        <h2 class="bg-primary ">Overzicht data van de Site </h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3 class="bg-info populair text-center">Entiteit VoertuigCategorieën</h3>
    </div>
</div>
<div class="container">
    <div class="table-responsive ">
        <table id="EntiteitVoertuigCategorieën" class="table table-condensed table-bordered table-striped ">
            <thead class="thead-dark">
                <tr>
                    <th>VoertuigCatID</th>
                    <th>VoertuigCategorienaam</th>
                </tr>
            </thead>
            @foreach (var item in Model.voertuigCategorieen)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VoertuigCategorieNaam)
                    </td>
                    <td>
                        @Html.DisplayFor(ModelItem => item.VoertuigCatId)
                    </td>

                </tr>
            }

        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3 class="bg-info populair text-center">VoertuigMerken</h3>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="VoertuigMerken" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>MerkNaam</th>
                    <th>MerkId</th>
                </tr>
            </thead>
            @foreach (var item in Model.autoMerken)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MerkNaam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MerkId)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h2 class="bg-info populair text-center">Entiteit AutoModellen</h2>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="EntiteitAutoModellen" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>MerktypeNaam</th>
                    <th>MerktypeId</th>
                </tr>
            </thead>
            @foreach (var item in Model.automodellen)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MerkTypeNaam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MerkTypeId)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3 class="bg-info populair text-center">Aanbod Voertuigen</h3>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="AanbodVoertuigen" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Voertuig</th>
                    <th>Specificaties</th>
                    <th>Afbeelding</th>
                </tr>
            </thead>
            @foreach (var item in Model.aanbodVoertuigen)
            {
                <tr>
                    <td width="300">
                        @Html.DisplayFor(modelItem => item.VoertuigCategorie.VoertuigCategorieNaam)<br />
                        @Html.DisplayFor(modelItem => item.Merk.MerkNaam)<br />
                        @Html.DisplayFor(modelItem => item.MerkType.MerkTypeNaam)<br />
                        @Html.DisplayFor(modelItem => item.VoertuigTitel)<br />
                        @Html.DisplayFor(modelItem => item.Koetswerk)<br />
                        Prijs: @Html.DisplayFor(modelItem => item.Prijs) €
                    </td>
                    <td width="auto">
                        Bouwjaar: @Html.DisplayFor(modelItem => item.Bouwjaar) <br />
                        Registratie: @Html.DisplayFor(modelItem => item.Registratie)<br />
                        Kilometerstand: @Html.DisplayFor(modelItem => item.Kilometerstand)<br />
                        Brandstof: @Html.DisplayFor(modelItem => item.Brandstof)<br />
                        Versnelling:  @Html.DisplayFor(modelItem => item.Versnelling)<br />
                        Vermogen:  @Html.DisplayFor(modelItem => item.Vermogen)<br />
                        Garantietijd:  @Html.DisplayFor(modelItem => item.GarantieTijd)<br />
                        CC:  @Html.DisplayFor(modelItem => item.CC) m3 <br />
                        CO2:  @Html.DisplayFor(modelItem => item.COTwee)<br />
                        Deuren:  @Html.DisplayFor(modelItem => item.Deuren)<br />
                        Zitplaatsen:  @Html.DisplayFor(modelItem => item.Zitplaatsen)<br />
                        Binnenbekleding:  @Html.DisplayFor(modelItem => item.Binnenbekleding)<br />
                        Binnenkleur:  @Html.DisplayFor(modelItem => item.Binnenkleur)
                    </td>
                    <td width="100">
                        <img src="@Url.Content(item.FiguurURL)" width="250" />
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3 class="bg-info populair text-center">CategorieOnderdelen</h3>
    </div>
</div>
<div class="container">
    <div class="table-responsive ">
        <table id="EntiteitVoertuigCategorieën" class="table table-condensed table-bordered table-striped ">
            <thead class="thead-dark">
                <tr>
                    <th>CategorieOnderdeelId</th>
                    <th>CategorieOnderdeelNaam</th>
                    <th>Hoofdcategorie</th>
                </tr>
            </thead>
            @foreach (var item in Model.categorieOnderdelen)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(ModelItem => item.OnderdelenCategorieId)
                    </td>
                    <td>
                        @Html.DisplayFor(ModelItem => item.OnderdelenCategorienaam)
                    </td>
                    <td>
                        @Html.DisplayFor(ModelItem => item.Parent.OnderdelenCategorienaam)
                    </td>

                </tr>
            }

        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3 class="bg-info populair text-center">Aanbod Winterbanden</h3>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="AanbodVoertuigen" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Band</th>
                    <th>Beschrijving</th>
                    <th>Afbeelding</th>
                </tr>
            </thead>
            @foreach (var item in Model.onderdelenProducten.Where(o => o.CategorieOnderdelen.OnderdelenCategorieId == 1))
            {
                <tr>
                    <td width="300">
                        @Html.DisplayFor(modelItem => item.Artikelnaam)<br />
                        Prijs: @Html.DisplayFor(modelItem => item.Prijs) €<br />
                        Type: @Html.DisplayFor(modelItem => item.Specificatie.Type)<br />
                        Draagvermogen: @Html.DisplayFor(modelItem => item.Specificatie.Draagvermogen)<br />
                        Snelheidindex: @Html.DisplayFor(modelItem => item.Specificatie.SnelheidIndex)<br />
                        Rolgeluid: @Html.DisplayFor(modelItem => item.Specificatie.Rolgeluid)
                    </td>
                    <td width="auto">
                        @Html.DisplayFor(modelItem => item.Artikelomschrijving)
                    </td>
                    <td width="100">

                        <img src="@Url.Content(item.FiguurURL)" alt=@Html.DisplayFor(modelItem => item.FiguurURL) width="250" />

                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3 class="bg-info populair text-center">Aanbod Wieldoppen</h3>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="AanbodVoertuigen" class="table table-condensed  table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Wieldop</th>
                    <th>Beschrijving</th>
                    <th>Afbeelding</th>
                </tr>
            </thead>
            @foreach (var item in Model.onderdelenProducten.Where(o => o.CategorieOnderdelen.OnderdelenCategorieId == 2))
            {
                <tr>
                    <td width="300">
                        @Html.DisplayFor(modelItem => item.Artikelnaam)<br />
                        Prijs: @Html.DisplayFor(modelItem => item.Prijs) €<br />
                        Formaat: @Html.DisplayFor(modelItem => item.Specificatie.Formaat)<br />
                        Kleur: @Html.DisplayFor(modelItem => item.Specificatie.Kleur)<br />
                        Materie: @Html.DisplayFor(modelItem => item.Specificatie.Materie)<br />
                        Verpakking: @Html.DisplayFor(modelItem => item.Specificatie.Montageset)
                    </td>
                    <td width="auto">
                        @Html.DisplayFor(modelItem => item.Artikelomschrijving)
                    </td>
                    <td width="100">

                        <img src="@Url.Content(item.FiguurURL)" alt=@Html.DisplayFor(modelItem => item.FiguurURL) width="250" />

                    </td>
                </tr>
            }

        </table>
    </div>
</div>

