@model ExternalLoginsViewModel
@{
    ViewData["Title"] = "Beheer uw externe logins";
    ViewData.AddActivePage(ManageNavPages.ExternalLogins);
}

@Html.Partial("_StatusMessage", Model.StatusMessage)


    @if (Model.CurrentLogins?.Count > 0)
    {
        <div class="container">
            <div class="row" style="color:dimgray">
                 <p class="tekstWelkomTitelPagina">Geregistreerde logins</p>

            </div>
           <table class="table">
            <tbody>
                @foreach (var login in Model.CurrentLogins)
                {
                    <tr>
                        <td>@login.LoginProvider</td>
                        <td>
                            @if (Model.ShowRemoveButton)
                            {
                                <form asp-action="RemoveLogin" method="post">
                                    <div>
                                        <input asp-for="@login.LoginProvider" name="LoginProvider" type="hidden" />
                                        <input asp-for="@login.ProviderKey" name="ProviderKey" type="hidden" />
                                        <button type="submit" class="btn btn-outline-warning" title="Verwijder deze @login.LoginProvider login van uw account">Verwijder</button>
                                    </div>
                                </form>
                            }
                            else
                            {
                                @: &nbsp;
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
       </div>
    }
    @if (Model.OtherLogins?.Count > 0)
    {  
        <div class="container">
            <div class="row" style="color:dimgray">
                <p class="tekstWelkomTitelPagina">Voeg een andere service toe om in te loggen</p>
                <hr />
            </div>
            <div class="row" style="color:dimgray">
                <form asp-action="LinkLogin" method="post" class="form-horizontal">
                    <div id="socialLoginList">
                        <p>
                            @foreach (var provider in Model.OtherLogins)
                         {
                          <button type="submit" class="btn btn-info" name="provider" value="@provider.Name" title="Login met  @provider.DisplayName account">@provider.DisplayName</button>
                         }
                        </p>
                   </div>
                </form>
           </div>
       </div>

    }
