@model Autohandel.Domain.Entities.Klant

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <h6 style="margin-top:20px;">
        <a asp-action="Index">
            <i class="fas fa-arrow-circle-left"></i> Terug naar 'beheer klanten'
        </a>
    </h6>

    <h2 class="text-center text-xl-center text-uppercase text-success " style="margin-top:25px;">In detail</h2>

    <div>

        <hr />
        <div class="container">
            <div class="table-responsive ">
                <table class="table table-condensed table-bordered table-striped ">
                    <thead class="thead-dark">
                        <tr class="d-flex">
                            <th class="col-lg-4 col-md-4 col col-sm-4">Benaming</th>
                            <th class="col-lg-8 col-md-8 col-sm-8">Gegeven</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-flex">
                            <td style="font-weight:bold" class="col-lg-4 col-md-4 col-sm-4">
                                @Html.DisplayNameFor(model => model.KlantId) : <br />
                                @Html.DisplayNameFor(model => model.KlantNaam) : <br />
                                @Html.DisplayNameFor(model => model.Klantdatum) : <br />


                            </td>
                            <td class="col-lg-8 col-md-8 col-sm-8">
                                @Html.DisplayFor(model => model.KlantId)<br />
                                @Html.DisplayFor(model => model.KlantNaam)<br />
                                @Html.DisplayFor(model => model.Klantdatum)<br />

                            </td>
                        </tr>
                        <tr class="d-flex">
                            <td style="font-weight:bold" class="col-lg-4 col-md-4 col-sm-4">
                                @Html.DisplayNameFor(model => model.Naam) : <br />
                                @Html.DisplayNameFor(model => model.Voornaam) : <br />
                            </td>
                            <td class="col-lg-8 col-md-8 col-sm-8">
                                @Html.DisplayFor(model => model.Naam)<br />
                                @Html.DisplayFor(model => model.Voornaam)<br />
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <td style="font-weight:bold" class="col-lg-4 col-md-4 col-sm-4">
                                @Html.DisplayNameFor(model => model.Postcode) : <br />
                                @Html.DisplayNameFor(model => model.Gemeente) : <br />
                                @Html.DisplayNameFor(model => model.Adres) : <br />
                            </td>
                            <td class="col-lg-8 col-md-8 col-sm-8">
                                @Html.DisplayFor(model => model.Postcode)<br />
                                @Html.DisplayFor(model => model.Gemeente)<br />
                                @Html.DisplayFor(model => model.Adres)<br />
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <td style="font-weight:bold" class="col-lg-4 col-md-4 col-sm-4">
                                @Html.DisplayNameFor(model => model.Telefoonnummer) : <br />
                                @Html.DisplayNameFor(model => model.Email) : <br />

                            </td>
                            <td class="col-lg-8 col-md-8 col-sm-8">
                                @Html.DisplayFor(model => model.Telefoonnummer)<br />
                                @Html.DisplayFor(model => model.Email)<br />

                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<br />