@model IEnumerable<Autohandel.Domain.Entities.Leverancier>

@{
    ViewData["Title"] = "Index";
}
        
<div class="container">
    <h6 style="margin-top:20px;">
        <a asp-area="Admin" asp-controller="Home" asp-action="Personen" style="margin-top:40px;">
            <i class="fas fa-arrow-circle-left"></i> Terug naar 'admin personen beheer'
        </a>
    </h6>

    <h2 class="text-center text-xl-center text-uppercase text-success " style="margin-top:25px;">Beheer leveranciers</h2>

    <p>
        <a asp-action="Create">Maak nieuwe leverancier aan</a>
    </p>
    <table class="table">
        <thead>
            <tr class="d-flex">
                <th class="col-2">
                    @Html.DisplayNameFor(model => model.LeverancierID)
                </th>
                <th class="col-2">
                    @Html.DisplayNameFor(model => model.LeverancierDatum)<br />
                    @Html.DisplayNameFor(model => model.LeverancierNaam)<br />
                </th>

                <th class="col-2">
                    @Html.DisplayNameFor(model => model.Naam)<br />
                    @Html.DisplayNameFor(model => model.Voornaam)<br />

                </th>
                <th class="col-2">
                    @Html.DisplayNameFor(model => model.Postcode)<br />
                    @Html.DisplayNameFor(model => model.Gemeente)<br />
                    @Html.DisplayNameFor(model => model.Adres)<br />
                </th>

                <th class="col-2">
                    @Html.DisplayNameFor(model => model.Telefoonnummer)<br />
                    @Html.DisplayNameFor(model => model.Email)<br />
                </th>

                <th class="col-2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="d-flex">
                    <td class="col-2">
                        @Html.DisplayFor(modelItem => item.LeverancierID)

                    </td>
                    <td class="col-2">
                        @Html.DisplayFor(modelItem => item.LeverancierDatum)<br />
                        @Html.DisplayFor(modelItem => item.LeverancierNaam)<br />
                    </td>

                    <td class="col-2">
                        @Html.DisplayFor(modelItem => item.Naam) <br />
                        @Html.DisplayFor(modelItem => item.Voornaam) <br />

                    </td>
                    <td class="col-2">
                        @Html.DisplayFor(modelItem => item.Postcode)<br />
                        @Html.DisplayFor(modelItem => item.Gemeente)<br />
                        @Html.DisplayFor(modelItem => item.Adres)<br />
                    </td>
                    <td class="col-2">
                        @Html.DisplayFor(modelItem => item.Telefoonnummer) <br />
                        @Html.DisplayFor(modelItem => item.Email) <br />
                    </td>


                    <td class="col-2">
                        <a asp-action="Edit" asp-route-id="@item.PersoonId">Wijzig</a> |
                        <a asp-action="Details" asp-route-id="@item.PersoonId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.PersoonId">Verwijder</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<br />
