@model Autohandel.Domain.Entities.CategorieOnderdelen

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <h6 style="margin-top:20px;">
        <a asp-area="Admin" asp-controller="CategorieOnderdelen" asp-action="Index"><i class="fas fa-arrow-circle-left"></i> Naar categorieOnderdelenlijst</a>
    </h6>

    <h2 class="text-center text-xl-center text-uppercase text-success " style="margin-top:25px;">In detail</h2>
    <hr />
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.OnderdelenCategorienaam)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OnderdelenCategorienaam)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Parent)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Parent.OnderdelenCategorienaam)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.OnderdelenCategorieId">Wijzig</a>
    </div>
</div>