@model Autohandel.Domain.Entities.CategorieOnderdelen

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CategorieOnderdelen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OnderdelenCategorienaam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OnderdelenCategorienaam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Parent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Parent.OnderdelenCategorienaam)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OnderdelenCategorieId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
