@model IEnumerable<Autohandel.Domain.Entities.CategorieOnderdelen>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h6 style="margin-top:20px;">
        <a asp-area="Admin" asp-controller="Home" asp-action="VoertuigOnderdelen" style="margin-top:40px;">
            <i class="fas fa-arrow-circle-left"></i> Terug naar 'admin voertuigen beheer'
        </a>
    </h6>

    <h2 class="text-center text-xl-center text-uppercase text-success " style="margin-top:25px;">Beheer Categorieën van voertuig onderdelen</h2>

    <p>
        <a asp-action="Create">Maak een nieuwe categorie onderdeel</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OnderdelenCategorienaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Parent)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OnderdelenCategorienaam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Parent.OnderdelenCategorienaam)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.OnderdelenCategorieId">Wijzig</a> |
                        <a asp-action="Details" asp-route-id="@item.OnderdelenCategorieId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.OnderdelenCategorieId">Verwijder</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<br />